<!--
<div class="row">
  <div class="col-6">
    <app-dona title="Ventas"
    [datosGrafica]="dataGrafica2">
  </app-dona>
  </div>
  <div class="col-6">
    <app-dona
    [datosGrafica]="dataGrafica2"
      >
    </app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona
      title="Pedidos"
      [datosGrafica]="dataGrafica3">
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona
      title="Despachos"
      [datosGrafica]="dataGrafica4">
    </app-dona>
  </div>
</div> -->
<div class="row">

  <div class="col-6">
    <app-dona title="Ventas">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona
      title="Compras"
      [data]="data1">
    </app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona title="Pedidos"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona title="Envíos"
    ></app-dona>
  </div>
</div>



